@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-action="GetAllUser" asp-controller="Home" class="btn btn-primary">Get All Users</a></p>
</div>
