<h3>An error occured while processing.
    The team will fix it soon.
</h3>
<h5>Please contact us on abc@gmail.com</h5>
<hr />
<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>
<hr />
<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<hr />
<div class="alert alert-danger">
    <h5>Exception StackTrace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>
<hr />